/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
*/
a {
  text-decoration: none; }

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  .modal .container {
    width: 1200px;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    height: 500px;
    top: 50%;
    margin-top: -250px; }
    .modal .container iframe {
      border-radius: 25px;
      border: 4px solid #73AD21; }

.top_contents {
  font-family: 'Malgun Gothic';
  background-color: #606060;
  width: 100%;
  height: 60px;
  vertical-align: middle; }
  .top_contents span {
    background-color: #a7a7a7;
    font-size: 14px;
    display: inline-block;
    padding: 9px;
    color: white;
    margin-top: 13px; }
    .top_contents span a {
      color: white; }

.wrap_header {
  width: 1200px;
  height: 65px;
  margin: 0 auto;
  padding-top: 25px; }
  .wrap_header div {
    float: left;
    margin-left: 20px;
    font-size: 37px;
    font-weight: 100; }
    .wrap_header div a {
      color: #3faab3; }
    .wrap_header div span {
      font-weight: bold;
      display: inline-block; }
  .wrap_header div, .wrap_header ul, .wrap_header a {
    display: inline-block; }
  .wrap_header ul {
    float: right;
    position: relative;
    left: 0px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px; }
    .wrap_header ul li {
      display: inline-block;
      margin-left: 15px;
      cursor: pointer; }
      .wrap_header ul li a {
        color: #b0b0b0; }
        .wrap_header ul li a:hover, .wrap_header ul li a.sel {
          color: #74c7ce; }

.wrap_introslide {
  position: relative;
  width: 1200px;
  height: 400px;
  margin: 0 auto; }
  .wrap_introslide span {
    position: absolute;
    display: inline-block;
    width: 50px;
    top: 315px; }
    .wrap_introslide span img {
      width: 50px; }
    .wrap_introslide span.left {
      left: 35px; }
    .wrap_introslide span.right {
      right: 35px; }
  .wrap_introslide .inner {
    overflow: hidden; }
  .wrap_introslide ul {
    position: relative;
    width: 3600px;
    height: 400px; }
    .wrap_introslide ul li {
      float: left;
      font-size: 0; }

.infocontainer {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px; }
  .infocontainer * {
    font-family: 'Malgun Gothic'; }
  .infocontainer h1 {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px; }
  .infocontainer h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 300; }
  .infocontainer .infobox {
    margin-top: 110px;
    padding-bottom: 35px; }
    .infocontainer .infobox li {
      margin-bottom: 95px;
      height: 150px; }
      .infocontainer .infobox li img, .infocontainer .infobox li .context {
        float: left;
        display: inline-block; }
      .infocontainer .infobox li img {
        margin-left: 280px; }
      .infocontainer .infobox li .context {
        margin-left: 103px;
        font-weight: 100; }
        .infocontainer .infobox li .context h2 {
          font-size: 28px;
          font-weight: bold;
          margin-top: 15px;
          margin-bottom: 20px; }
        .infocontainer .infobox li .context span {
          font-size: 16px;
          line-height: 25px; }
  .infocontainer .inner_text {
    position: relative; }
    .infocontainer .inner_text img {
      position: relative;
      z-index: 0; }
    .infocontainer .inner_text span {
      display: block;
      top: 30px;
      position: relative;
      z-index: 1; }
  .infocontainer .contactbox .box {
    margin-top: 50px;
    display: inline-block;
    float: left;
    font-size: 0;
    width: 360px;
    height: 400px; }
    .infocontainer .contactbox .box span {
      display: block;
      text-align: center;
      font-size: 23px;
      font-weight: bold;
      color: white;
      margin-bottom: 25px; }
    .infocontainer .contactbox .box input, .infocontainer .contactbox .box textarea {
      border: 1px solid #2b8ba6;
      width: 348px;
      padding: 0;
      margin: 0;
      padding-left: 10px;
      margin-bottom: 15px; }
    .infocontainer .contactbox .box input {
      height: 35px; }
    .infocontainer .contactbox .box input[type=button] {
      width: 360px;
      padding: 0;
      border: 0px;
      background-color: #2b8ba6;
      height: 40px;
      font-size: 23px;
      font-weight: bold;
      color: white;
      margin-top: 15px; }

.wrap_footer {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  height: 95px;
  background-color: #3faab3; }
  .wrap_footer a {
    text-decoration: none;
    color: white;
    display: inline-block; }
  .wrap_footer .left h1, .wrap_footer .right h1 {
    color: white;
    font-size: 40px;
    font-weight: 100; }
    .wrap_footer .left h1 span, .wrap_footer .right h1 span {
      font-weight: bold; }
  .wrap_footer .left {
    float: left;
    padding: 25px 0 0 10px; }

/*# sourceMappingURL=main.css.map */
